.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bgcPage;
  @media screen and (max-width: 359px) {
    padding: $paddingHeaderMobileLess;
  }
  @media screen and (min-width: 360px) {
    padding: $paddingHeaderMobile;
  }
  @media screen and (min-width: 768px) {
    padding: $paddingHeaderTablet;
  }
  @media screen and (min-width: 1440px) {
    padding: $paddingHeaderDesctop;
  }
}

.menu__backdrop {
  @media screen and (max-width: 767px) {
    visibility: hidden;
  }
}

.menu__backdrop.is-open {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 10;
    visibility: visible;
    background-color: $bgcBackdrop;
    transition: visibility $transitionDurationPrimary $transitionTimingPrimary;
  }
}
