.hero__img {
  height: 300px;
  width: 100%;
  max-width: 1600px;
  object-fit: cover;
  object-position: left center;
}

.hero__heading {
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 408px;
    margin-left: auto;
  }

  @media screen and (min-width: 1440px) {
    width: 738px;
  }
}
