.menu__icon-menu,
.menu__icon-close {
  display: block;
  fill: $colorIconMenu;
}

.menu__button {
  display: none;
  padding: $paddingBtnMenuMobile;
  & .menu__icon-menu {
    opacity: 1;
    transition: opacity $transitionDurationPrimary $transitionTimingPrimary;
  }
  & .menu__icon-close {
    opacity: 0;
    transform: rotate(0);
    transition: opacity $transitionDurationPrimary $transitionTimingPrimary;
  }

  @media screen and (max-width: 767px) {
    @include positioning-flex();
  }
}

.menu__button.is-open {
  & .menu__icon-menu {
    opacity: 0;
    transition: opacity $transitionDurationPrimary $transitionTimingPrimary;
  }
  & .menu__icon-close {
    opacity: 1;
    transform: rotate(1turn);
    transition: opacity $transitionDurationPrimary $transitionTimingPrimary,
      transform $transitionDurationSecondary $transitionTimingSecondary;
  }
}

.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.menu__set {
  font-size: 1rem;
  @media screen and (max-width: 767px) {
    display: block;
    transform: translateY(0);
    opacity: 0;
    transition: transform $transitionDurationPrimary $transitionTimingPrimary,
      opacity $transitionDurationPrimary $transitionTimingPrimary;
    margin: 0;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    @include positioning-flex();
  }
}

.menu__backdrop.is-open .menu__set {
  transform: translateY(100%);
  opacity: 1;
  z-index: 20;
}

.menu__item {
  display: block;
  z-index: 30;
  @media screen and (max-width: 767px) {
    border-bottom: 1px solid $colorBorderBottomMenuMobile;
  }
}

.menu__link {
  display: block;
  color: inherit;
  background-color: inherit;
  z-index: 40;
  padding: $paddingItemMenuMobile;
  transition: color $transitionDurationPrimary $transitionTimingPrimary,
    background-color $transitionDurationPrimary $transitionTimingPrimary;

  &:hover,
  &:focus {
    color: $colorHeading;
    background-color: $bgcAccentPrimary;
  }
}

.menu__link--accent {
  width: 100%;
  font-weight: $fontWeightBold;
  color: $colorHeading;
  background-color: $colorAccentPrimary;
  transition: background-color $transitionDurationPrimary $transitionTimingPrimary;

  &:hover,
  &:focus {
    color: $colorHeading;
    background-color: $bgcAccentPrimaryHover;
  }
}
