.menu__icon-menu,
.menu__icon-close {
  display: block;
  fill: $colorIconMenu;
}

.menu__button {
  display: none;
  padding: $paddingBtnMenuMobile;
  & .menu__icon-menu {
    display: block;
  }
  & .menu__icon-close {
    display: none;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform $transitionDurationSecondary $transitionTimingSecondary;
  }

  @media screen and (max-width: 767px) {
    @include positioning-flex();
  }
}

.menu__button.is-open {
  & .menu__icon-menu {
    display: none;
  }
  & .menu__icon-close {
    display: block;
    transform: rotate(90deg);
    transform-origin: center;
    transition: transform $transitionDurationSecondary $transitionTimingSecondary;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    // position: absolute;
    // left: 0;
    // top: 0;
    background-color: inherit;
    transform: translateY(-100%);
    width: 100%;
    opacity: 0;
    transition: transform $transitionDurationPrimary $transitionTimingPrimary,
      opacity $transitionDurationPrimary $transitionTimingPrimary;
    margin: 0 auto;
  }
}

.menu__backdrop.is-open .menu {
  @media screen and (max-width: 767px) {
    transform: translateY(0);
    opacity: 1;
    box-shadow: $shadowMenu;
    transition: transform $transitionDurationPrimary $transitionTimingPrimary,
      opacity $transitionDurationPrimary $transitionTimingPrimary;
  }
}

.menu__set {
  font-size: 1rem;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    @include positioning-flex();
  }
}

.menu__item {
  display: block;
  width: 100%;
  @media screen and (max-width: 767px) {
    border-bottom: 1px solid $colorBorderBottomMenuMobile;
  }
}

.menu__link {
  display: block;
  color: inherit;
  background-color: inherit;
  padding: $paddingItemMenuMobile;
  transition: color $transitionDurationPrimary $transitionTimingPrimary,
    background-color $transitionDurationPrimary $transitionTimingPrimary;

  &:hover,
  &:focus {
    color: $colorHeading;
    background-color: $colorAccentSecondary;
  }
}

.menu__link--accent {
  width: 100%;
  font-weight: $fontWeightBold;
  color: $colorHeading;
  background-color: $colorAccentPrimary;
  transition: background-color $transitionDurationPrimary $transitionTimingPrimary;

  &:hover,
  &:focus {
    color: $colorHeading;
    background-color: $bgcAccentPrimaryHover;
  }
}
