body {
  font-family: $fontFamilyPrimary, $fontFamilyAlternative;
  background-color: $bgcPage;
  color: $colorParagraph;
  font-size: $fontSizeBodyPrimary; /* 1.125rem */
  padding-top: $heitghHeader360;
  @media screen and (min-width: 768px) {
    padding-top: $heitghHeader768Plus;
  }
}

.body-fixed {
  position: fixed;
  width: 100%;
}

.heading-32 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: $fontWeightBold;
  color: $colorHeading;
}

.heading-32--accent {
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.paragraph-18 {
  line-height: 1.5;
}

.paragraph-18--on-light {
  color: $colorParagraphOnLight;
}

.paragraph-18--white {
  color: $colorHeading;
}
