body {
  font-family: $fontFamilyPrimary, $fontFamilyAlternative;
  background-color: $bgcPage;
  color: $colorParagraph;
  font-size: $fontSizeBodyPrimary; /* 1.125rem */
  line-height: var(--line-height-primary);
}

.body-fixed {
  position: fixed;
  width: 100%;
}

main {
  margin-top: $heitghHeader360;
  @media screen and (min-width: 768px) {
    margin-top: $heitghHeader768Plus;
  }
}
