// :root {
// }

$colorLevelFirst: #181823;
$colorParagraph: #8491a0;
$colorParagraphOnLight: #5b6876;
$colorHeader: #ffffff;
$colorAccentPrimary: #5221e6;
$colorAccentSecondary: #e65221;

$bgcFooter: #181823;
$bgcPage: #000000;
$bgcAccentSecondary: rgba(230, 82, 33, 0.2);
$bgcAccentPrimary: rgba(82, 33, 230, 0.2);

$fontFamilyPrimary: 'Sen';
$fontFamilyAlternative: 'sans-serif';

$fontSizeLabel: 7.3125rem;
$fontSizeH1: 4.875rem;
$fontSizeH2: 3.4375rem;
$fontSizeH3: 1.5rem;
$fontSizeH4: 1.125rem;
$fontSizeH5: 1rem;
$fontSizeBodyPrimary: 1.125rem;
$fontSizeBodySecondary: 1rem;
$fontSizeOverline: 1rem;
$fontSizeBtn: 1.125rem;

$fontWeightBold: 700;

$lineHeightPrimary: 1.6875rem;

$paddingSectionMobile: 3rem 0.25rem;
$paddingHeaderMobile: 0rem 0.25rem;
$paddingFooterMobile: 3rem 0.25rem;
$paddingContainerHeaderMobile: 1.5rem 1rem;

$paddingSectionTablet: 5rem 1.5rem;
$paddingHeaderTablet: 0rem 1.5rem;
$paddingFooterTablet: 5rem 1.5rem;
$paddingContainerHeaderTablet: 2rem 1rem;

$paddingSectionDesctop: 7.5rem 3.5rem;
$paddingHeaderDesctop: 0rem 3.5rem;
$paddingFooterDesctop: 5rem 3.5rem;
$paddingContainerHeaderDesctop: 2rem 1rem;

$paddingContainer: 0 1rem;

$paddingLinkMenuHeader: 2rem 1.5rem;
